*
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

.topnav li{
	display: inline;
}

.topnav img{
	width: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #302d2a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 1rem 0 0.5rem;
  /*font-size: 17px;
  padding: 20px 0;
  margin-right: 28px;*/
  font-weight: 590;
  font-size: 1rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: #87b6d8;
}

.leftColumn {
	margin-top: 1rem!important;
	display: block;
	font-size: 1rem;
	color: #222;
}

.leftColumn a{
	text-decoration: none;
	background-color: transparent;
}

.leftColumn a img{
	max-width: 100%;
	height: auto;
	border-style: none;
}

.leftColumn a h1{
	display: block;
	color: red;
}

